@define-mixin margin-trim {
	margin-trim: block;

	@supports not (margin-trim: block) {
		/* Fallback for browsers that don't support margin-trim */
		
		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
