@define-mixin margin-trim {
	margin-trim: block;

	/* Fallback for browsers that don't support margin-trim */
	@supports not (margin-trim: block) {

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
