@define-mixin ar $width: 16, $height: 9 {
	overflow: hidden;
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-bottom: calc($height / $width * 100%);
		width: 100%;
	}
}

img {

	@mixin ar 1, 1;
}